*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/file/nbproject/private/
/file/dist/
/file/build/
/JavaApplication37/nbproject/private/
/JavaApplication37/build/
/JavaApplication38/nbproject/private/
/JavaApplication38/build/